.bottomLink {
  font-family: Helvetica;
  display: flex;

  .bottomLinkBox {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 60px;
    font-weight: 500;

    a {
      .bottomLinkText {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25vw;
        height: calc(25vw * 2880 / 1920);

        &:hover {
          color: white;
          background-color: black;
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .bottomLink {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);

    &:nth-child(3) .bottomLinkBox,
    &:nth-child(4) .bottomLinkBox {
      border-top: none;
    }

    .bottomLinkBox {
      a {
        .bottomLinkText {
          font-size: 20px;
          width: 50vw;
          height: calc(50vw * 2880 / 1920);
        }
      }
    }
  }
}
