.slideBox {
  position: relative;

  .buttonPrev {
    position: absolute;
    padding: 10px;
    top: 42%;
    left: 1%;
    opacity: 0.5;
    z-index: 2;
  }

  .buttonNext {
    position: absolute;
    top: 42%;
    left: 95%;
    padding: 10px;
    opacity: 0.5;
    z-index: 2;
  }

  .slideList {
    display: flex;
    transition: all 400ms ease 0s;
    font-size: 0;

    .slideContent {
      img {
        width: 25vw;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .slideBox {
    .buttonNext {
      left: 93%;
    }

    .slideList .slideContent img {
      width: 50vw;
    }
  }
}
