.goBackToTopButton {
  display: block;
  padding: 30px;
  text-align: center;

  .button {
    display: inline;
    font-size: 26px;
    font-weight: 500;
    text-decoration: underline;
  }

  .button::selection {
    background-color: greenyellow;
  }

  :hover {
    cursor: pointer;
  }
}
