@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.ProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;

  .productWrapper {
    position: relative;

    .firstHoverEventArea {
      @include eventAreaPosition(absolute, 0, 50px, 160px, 1);
    }

    .secondHoverEventArea {
      @include eventAreaPosition(absolute, 50px, 50px, 160px, 1);
    }

    .thirdHoverEventArea {
      @include eventAreaPosition(absolute, 100px, 50px, 160px, 1);
    }

    .fourthHoverEventArea {
      @include eventAreaPosition(absolute, 150px, 50px, 160px, 1);
    }

    .imageWrapper {
      .mainImage {
        @include productDetailCardTemplate(
          contain,
          no-repeat,
          bottom,
          265px,
          230px
        );
      }
    }
  }

  .subImgWrapper {
    display: flex;
    justify-content: center;
  }

  .productName {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }

  .productPrice {
    @extend .productName;
  }
}

@media screen and (max-width: $mediaQueryWidth) {
  .ProductCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;

    .productWrapper {
      position: relative;

      .firstHoverEventArea {
        @include meDiaQueryEventAreaPosition(
          absolute,
          80px,
          60px,
          110px,
          600px,
          1
        );
      }

      .secondHoverEventArea {
        @include meDiaQueryEventAreaPosition(
          absolute,
          80px,
          170px,
          110px,
          600px,
          1
        );
      }

      .thirdHoverEventArea {
        @include meDiaQueryEventAreaPosition(
          absolute,
          80px,
          280px,
          110px,
          600px,
          1
        );
      }

      .fourthHoverEventArea {
        @include meDiaQueryEventAreaPosition(
          absolute,
          390px,
          60px,
          110px,
          600px,
          1
        );
      }

      .mainImage {
        width: 522px;
        height: 601px;
      }

      .subImgWrapper {
        display: flex;
        justify-content: center;
      }

      .productPrice {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
      }
      .productName {
        @extend .productPrice;
      }
    }
  }
}
