@import '../../../styles/variables';

.ProductOtherColorCard {
  .productSubImg {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 1140px) {
  .ProductOtherColorCard {
    .productSubImg {
      width: 85px;
      height: 100px;
    }
  }
}
