$media-size: 1440px;

.ProductDetailCard {
  position: absolute;
  bottom: 0px;
  width: 240px;
  height: 200px;
}
@media only screen and (max-width: $media-size) {
  .ProductDetailCard {
    position: absolute;
    bottom: 0px;
    width: 522px;
    height: 701px;
  }
}
