$media-size: 1440px;

.ProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;

  .productImageWrapper {
    position: relative;
    .eventArea1 {
      // background-color: red;
      position: absolute;
      left: 0;
      min-width: 50px;
      min-height: 160px;
      z-index: 1;
    }
    .eventArea2 {
      // background-color: yellow;
      position: absolute;
      min-width: 50px;
      min-height: 160px;
      left: 50px;
      z-index: 1;
    }
    .eventArea3 {
      // background-color: orange;
      position: absolute;
      left: 100px;
      min-width: 50px;
      min-height: 160px;
      z-index: 1;
    }
    .eventArea4 {
      position: absolute;
      // background-color: blue;
      min-width: 50px;
      min-height: 160px;
      left: 150px;
      z-index: 1;
    }
  }
  .productMainImg {
    width: 240px;
    height: 200px;
  }
  .productName {
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
  }
  .subImgWrapper {
    display: flex;
    justify-content: center;
  }

  .productPrice {
    @extend .productName;
  }
}
@media only screen and (max-width: $media-size) {
  .ProductCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
    .productImageWrapper {
      position: relative;
      .eventArea1 {
        // background-color: red;
        position: absolute;
        top: 80px;
        left: 60px;
        min-width: 110px;
        min-height: 600px;
        z-index: 1;
      }
      .eventArea2 {
        // background-color: yellow;
        position: absolute;
        top: 80px;
        left: 170px;
        min-width: 110px;
        min-height: 600px;
        z-index: 1;
      }
      .eventArea3 {
        // background-color: orange;
        position: absolute;
        top: 80px;
        left: 280px;
        min-width: 110px;
        min-height: 600px;
        z-index: 1;
      }
      .eventArea4 {
        position: absolute;
        // background-color: blue;
        top: 80px;
        left: 390px;
        min-width: 110px;
        min-height: 600px;
        z-index: 1;
      }
      .productMainImg {
        width: 522px;
        height: 701px;
      }

      .productName {
        font-weight: 600;
        font-size: 40px;
        line-height: 28px;
      }
      .subImgWrapper {
        display: flex;
        justify-content: center;
      }
      .productPrice {
        font-weight: 600;
        font-size: 40px;
        line-height: 28px;
      }
    }
  }
}
