.ProductList {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 5fr));
  grid-template-rows: repeat(3, minmax(350px, auto));
  padding: 48px 40px 60px 40px;
  font-family: Helvetica, sans-serif;
}

@media only screen and (max-width: 1140px) {
  .ProductList {
    display: grid;
    grid-template-columns: repeat(2, minmax(500px, 1fr));
  }
}
