$widthBreakPoint: 1140px;
$mainImageRatio: 2880 / 1920;
/*-----------------------NAV----------------------------*/
// Dropdown
$pointColor: #0e0;
$navBgColor: white;

// view, sort Button
$textColor: white;
$buttonColor: black;
$buttonColorNotFocused: rgb(204, 204, 204);
$checkBoxBgColor: rgb(194, 194, 194);

// sort, view Modal
$modalBgColor: white;
$modalBorderColor: black;

$mediaQueryWidth: 1140px;
