@import '../../styles/_variables.scss';

@mixin preventDrag {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.ProductDetail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  font-family: Helvetica;
  @include preventDrag;

  .subImgBox {
    width: 18vw;
    margin-left: 20px;
  }

  .mainImgBox {
    width: 30vw;
    height: 100%;
  }

  .productInfoBox {
    width: 18vw;
    height: 100%;
    margin-right: 30px;
  }

  Footer {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1140px) {
  .ProductDetail {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .subImgBox {
      width: 20%;
    }

    .mainImgBox {
      width: 65%;
      height: 100%;
    }

    .productInfoBox {
      width: 100vw;
      height: 100%;
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 470px) {
  .ProductDetail {
    display: flex;
    width: 100%;

    .subImgBox {
      width: 20%;
      height: 70%;
    }

    .mainImgBox {
      width: 100%;
      height: 100%;
    }

    .productInfoBox {
      width: 100%;
      height: 100%;
      margin-left: 20px;
    }
  }
}
