@import '../../styles/variables';

.BreadCrumb {
  position: fixed;
  top: 60px;
  left: 35px;
  display: flex;
  align-items: center;

  .categoryBox {
    min-width: 45px;
    height: 30px;
    padding: 7px 10px;
    margin-right: 10px;
    border-radius: 3px;
    background-color: $pointColor;
    text-align: center;
    font-size: 16px;
  }

  .changeColorGray {
    background-color: lightgrey;
  }

  .productNameBox {
    min-width: 45px;
    height: 30px;
    padding: 7px 10px;
    margin-right: 10px;
    border-radius: 3px;
    background-color: $pointColor;
    text-align: center;
    font-size: 16px;
  }
}
