.NavForResponsive {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;

  .hamburgerBtnBox {
    margin-left: 15px;
  }

  .cartBoxForResponsive {
    position: relative;
    margin-right: 15px;

    .cartCountNumForResponsive {
      position: absolute;
      top: 5px;
      left: 12px;
      color: white;
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 1140px) {
  .NavForResponsive {
    display: flex;

    .mainLogoContainer {
      .mainLogo {
        width: 180px;
        height: 47px;
      }
    }
  }
}
