@import '../../styles/_variables.scss';

.SortBtn {
  position: fixed;
  top: 65px;
  right: 110px;
  display: flex;
  min-width: 45px;
  height: 32px;
  padding: 8px 13px 6px 13px;
  border-radius: 15px;
  opacity: 0.7;
  background-color: $buttonColorNotFocused;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: $buttonColor;
    color: $textColor;
    transition: all 0.3s;
  }

  .sortBtntext {
    text-align: center;
    font-size: 16px;
  }
}

.sortBtnOn {
  opacity: 1;
  background-color: $buttonColor;
  color: $textColor;
}
