@import '../../styles/variables';

.viewOptionBox {
  position: absolute;
  top: 105px;
  right: 40px;
  width: 210px;
  height: 120px;
  padding: 20px 15px;
  border: 1px solid $modalBorderColor;
  background-color: $modalBgColor;

  .viewOptionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    .viewOptionHeaderTitle {
      margin-right: 70px;
    }

    .viewOptionCloseBtn {
      display: inline-block;
      border: none;
      background-color: transparent;
    }
  }

  .viewList {
    margin-right: 53px;
  }
}

.viewModalInvisible {
  display: none;
}

.viewOptionBoxScrollUp {
  position: fixed;
  top: 103px;
  visibility: visible;
}
